@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../public/poppins.ttf") format("truetype");
}

.body {
  background-color: rgb(41, 57, 68);
  /* padding: 45px; */
  color: rgb(228, 228, 228);
  
  font-family: "Poppins";
  
}
input {
  border-radius: 10px;
  padding: 1px;
}
