@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../public/poppins.ttf") format("truetype");
}

.body {
  background-color: rgb(190, 240, 190);
  padding: 45px;
  font-family: "Poppins";
  
}
input {
  border-radius: 10px;
  padding: 1px;
}